:root {
  /* COLORS */
  --primary: hsl(183, 100%, 15%);
  --grayish_cyan: hsl(186, 14%, 43%);
  --Grayish_cyan_2: hsl(184, 14%, 56%);
  --light_grayish_cyan: hsl(185, 41%, 84%);
  --very_light_grayish_cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --strong_cyan: hsl(172, 67%, 45%);
}

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  height: 100%;
  background: var(--light_grayish_cyan);
  display: grid;
  grid-template-rows: 1fr auto;
}

.title {
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0;
  margin-top: 3rem;
}
.my-2 {
  margin: 2rem 0;
}

.btn {
  background: var(--primary);
  color: var(--very_light_grayish_cyan);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
}
.btn-reset {
  background: var(--grayish_cyan);
  color: var(--primary);
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-reset:hover {
  background: var(--Grayish_cyan_2);
}
.btn-custom {
  background: var(--very_light_grayish_cyan);
  color: var(--primary);
}

.btn-tip {
  width: 100%;
  height: 4rem;
  transition: all 0.5s ease-in-out;
}
.btn-tip:hover {
  background: var(--strong_cyan);
}
.label {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  max-width: 60%;
  background: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container-input {
  display: flex;
  flex-direction: column;
}
.input {
  background-color: var(--very_light_grayish_cyan) !important;
  color: var(--primary);
  border-radius: 0.4rem;
  border: none;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: right;
  padding: 1.25rem;
}
.bill-input {
  background: url(./images/icon-dollar.svg) left 1rem center no-repeat;
}
.people-input {
  background: url(./images/icon-person.svg) left 1rem center no-repeat;
}

.container-tip-button {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 2rem;
}

.right-side {
  width: 500px;
  height: 500px;
  background: var(--primary);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.tip-amount .content p:first-child {
  color: var(--white);
}
.tip-amount .content p:last-child {
  color: gray;
}

.tip-result,
.total-result {
  font-size: 2.5rem;
  color: var(--strong_cyan);
}

.total-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 2rem auto;
}
.total-person .contentSecond p:first-child {
  color: var(--white);
}
.total-person .contentSecond p:last-child {
  color: gray;
}
